.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  flex-direction: column;
}

.redHeader {
  background-color: red;
  width: 50px;
  border: 1px solid red;
  color: var(--secondColor);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.header {
  font-size: 20px;
  font-weight: bold;
}

.sortingButton {
  background-color: transparent;
  color: var(--secondColor);
  padding: 5px;
}
